{%extends "/base/base.html"%}

{%block title%}
    Reportar un error
{%endblock%}

{%block head%}
{%endblock%}

{%block content%}
    <div class="container">
        <figure class="text-center">
            <img src="https://i.ibb.co/K24P6pR/Gifloyle.png" alt="Gifloyle" border="0">
            <blockquote class="blockquote">
                <br>
              <p>It's a feature not a bug</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Bertram Gilfoyle, <cite title="Source Title">Silicon Valley T6E?</cite>
            </figcaption>
          </figure>
    </div>
    

{%endblock%}