{%extends "/base/base.html"%}

{%block title%}
    Inicio
{%endblock%}

{%block head%}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js" integrity="sha256-bC3LCZCwKeehY6T4fFi9VfOU0gztUa+S4cnkIhVPZ5E=" crossorigin="anonymous"></script>
{%endblock%}

{%block content%}
    <main>
        <div class="container">
            <h4 class="text-center">
                $1.00 <img src="{{ url_for('static', filename='img/estados-unidos.png') }}" alt="USD" width="20px">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                  <path fill="#6d1a42" fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                    <path fill="#6d1a42" fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
                ${{ currency }} <img src="{{ url_for('static', filename='img/mexico.png') }}" alt="USD" width="20px">
            </h4>

            <h3 class="text-center">Días de movimientos disponibles: {{cuenta.mov_disponibles}}</h3>
            {%if cuenta.mov_disponibles and puede_hora%}
                <div class="container">
                    <div class="row">
                      <div class="col text-center">
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Abrir posición</button>
                      </div>
                      <div class="col text-center">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2" data-bs-whatever="@mdo">Cerrar posición</button>
                      </div>
                    </div>
                  </div>

                <!--VENDER-->
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                    <div class="modal-dialog" style="max-width: 1000px; ">
                      <div class="modal-content">
                        <form action="/vender_simbolo" method="POST">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel2">Cerrar posición</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <canvas id="chartsell" height="200"></canvas>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <label for="recipient-name" class="col-form-label">Símbolo:</label>
                                            <select required onchange="set_symbol()" id="symbolsell" name="simbolo" class="form-select mt-3" aria-label="Default select example">
                                                <option  selected disabled>Elegir...</option>
                                                {%for grafico in cuenta.graficos%}
                                                    <option  value="{{grafico.simbolo}}">{{grafico.simbolo}}</option>
                                                {%endfor%}
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label for="recipient-name" class="col-form-label">Id:</label>
                                            <select required onchange="update_sell_values()" id="operacion_id" name="operacion_id" class="form-select mt-3" aria-label="Default select example">
                                                <option disabled>Elige un símbolo primero</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="message-text" class="col-form-label">Comentario:</label>
                                        <textarea required rows="7"  placeholder="Resumen de los motivos para realizar la venta" name="comentario_venta" class="form-control" id="message-text"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <hr>
                                <h6> <b>Resumen</b> </h6>
                                <table class="table">
                                    <thead>
                                        <tr>
                                        <th scope="col">Concepto</th>
                                        <th scope="col">Precio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row" id="t-symbol-sell"></th>
                                            <td id="t-precio-sell"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"></th>
                                            <td id="t-volumen-sell"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Interés + comisión (0.29%)</th>
                                            <td id="t-interes-sell"></td>
                                        </tr>
                                        <thead>
                                            <tr>
                                            <th scope="col">Total</th>
                                            <th scope="col" id="t-total-sell"></th>
                                            </tr>
                                        </thead>
                                        <thead>
                                            <tr>
                                            <th scope="col">Beneficio Final</th>
                                            <th scope="col" id="t-beneficio-sell"></th>
                                            </tr>
                                        </thead>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">¡Vender!</button>
                            </div>
                        </form>
                      </div>
                    </div>
                    <script>
                        let  t_symbol_sell = document.getElementById('t-symbol-sell');
                        let  t_precio_sell = document.getElementById('t-precio-sell');
                        let  t_volumen_sell = document.getElementById('t-volumen-sell');
                        let  t_interes_sell = document.getElementById('t-interes-sell');
                        let  t_total_sell = document.getElementById('t-total-sell');
                        let  t_beneficio_sell = document.getElementById('t-beneficio-sell');

                        let precio_sell, posiciones_sell;
                        let symbol_sell = document.getElementById('symbolsell');
                        let operacion_id = document.getElementById('operacion_id');
                        let graficos = {{graficos | tojson}};
                        let mySellChart;
                        set_symbol();
                        function set_symbol(){
                            let data = {symbol: symbol_sell.value};
                            fetch('/stock_data',  {method: 'POST', body: JSON.stringify(data),
                                                            headers: {'Content-Type': 'application/json'}
                                        })
                                        .then(function (response) {
                                            return response.json();
                                        }).then(function (response) {

                                            
                                            let ctxsell = document.getElementById('chartsell');
                                            let labelssell =response.labels;
                                            operacion_id.innerHTML = "<option disabled selected>Id de posición</option>";
                                            let datasets_sell = [{type: 'line',
                                                    label: response.symbol,
                                                    data: response.data,
                                                    fill: false,
                                                    borderColor: '#363554',
                                                    tension: 0.1,
                                                    pointRadius: 0
                                                }];
                                            for (let grafico of graficos) {
                                                if(grafico.simbolo == symbol_sell.value){
                                                    posiciones_sell = grafico.posiciones;
                                                    for (let posicion of grafico.posiciones)
                                                        if(!posicion.cerrado){
                                                            operacion_id.innerHTML += `<option value="${posicion.id}">${posicion.id}</option>`;
                                                            datasets_sell.push({
                                                                type: 'scatter',
                                                                label: `${posicion.id} | ${posicion.dia_compra}`, 
                                                                data: [{
                                                                        x: `${posicion.dia_compra}`,
                                                                        y: `${posicion.valor_compra}`
                                                                    }
                                                                ],
                                                                pointStyle: 'triangle',
                                                                pointRadius: 6,
                                                                backgroundColor: 'green'
                                                            });
                                                        }
                                                    break;
                                                }
                                            }
                                            let datasell = {
                                                labels: labelssell,
                                                datasets: datasets_sell
                                            };
                                            let config = {
                                                type: 'line',
                                                data: datasell,
                                                };
                                            if(mySellChart){
                                                mySellChart.destroy();
                                            }
                                            mySellChart = new Chart(ctxsell, config);
                                            precio_sell = response.data[response.data.length-1];
                                            t_symbol_sell.innerHTML = response.symbol;
                                            t_precio_sell.innerHTML = formatter.format(precio_sell) + `
                                                <input name="valor_venta" type="hidden" value=${precio_sell}>            
                                            `;
                                            
                                            t_interes_sell.innerHTML = '';
                                            t_total_sell.innerHTML = '';
                                            t_volumen_sell.innerHTML = 'x';
                                            t_beneficio_sell.innerHTML = '';
                                    });
                        };
                        function update_sell_values(){
                            for(let posicion of posiciones_sell){
                                if(posicion.id == operacion_id.value){
                                    t_volumen_sell.innerHTML = 'x'+posicion.volumen;
                                    let costo = posicion.volumen*precio_sell;
                                    let interes = costo*(comision-1);
                                    let total = costo*comision;
                                    t_interes_sell.innerHTML = formatter.format(interes) + `
                                                <input name="interes_venta" type="hidden" value=${interes}>            
                                    `;
                                    t_total_sell.innerHTML = formatter.format(total);
                                    let beneficio = posicion.volumen*precio_sell - posicion.volumen*posicion.valor_compra;
                                    t_beneficio_sell.innerHTML = formatter.format(beneficio) + `
                                                <input name="beneficio" type="hidden" value=${beneficio}>            
                                    `;
                                    break;
                                }
                            }

                        };
                    </script>
                </div>
                
                <!--COMPRAR-->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="max-width: 1000px; ">
                    <form action="/crear_simbolo" method="POST">  
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Abrir una posición</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6> <b>Patrimonio: <b style="color:green;"> ${{"{:,.2f}".format(cuenta.patrimonio)}}</b></b></h6>
                            <div class="row">
                                <div class="col">
                                    <canvas id="chart" height="200"></canvas>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                              <label for="recipient-name" class="col-form-label">Símbolo:</label>
                                              <select onchange="get_stock_data()" id="symbol" name="simbolo" class="form-select mt-3" aria-label="Default select example">
                                                <option disabled >Elegir...</option>
                                              {%for symbol in symbols%}  
                                                <option selected value="{{symbol}}">{{symbol}}</option>
                                              {%endfor%}
                                              </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">Volumen:</label>
                                                <input onkeyup="Total()" name="volumen" required type="number" min="1" step="1" id="volumen" class="form-control mt-3" >
                                            </div>
                                        </div>
                                    </div>

                                        <div class="mb-3">
                                          <label for="message-text" class="col-form-label">Comentario:</label>
                                          <textarea required rows="7"  placeholder="Resumen de los motivos para realizar la compra" name="comentario_compra" class="form-control" id="message-text"></textarea>
                                        </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <hr>
                                <h6> <b>Resumen</b> </h6>
                                <table class="table">
                                    <thead>
                                        <tr>
                                          <th scope="col">Concepto</th>
                                          <th scope="col">Precio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row" id="t-symbol"></th>
                                            <td id="t-precio"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"></th>
                                            <td id="t-volumen"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Interés + comisión (0.29%)</th>
                                            <td id="t-interes"></td>
                                        </tr>
                                        <thead>
                                            <tr>
                                              <th scope="col">Total</th>
                                              <th scope="col" id="t-total"></th>
                                            </tr>
                                        </thead>
                                    </tbody>
                                </table>
                            </div>
                            *Verifica los datos, ya que no es posible cancelar un movimiento
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                          <button type="submit" class="btn btn-primary">¡Comprar!</button>
                        </div>
                      </div>
                    </form>
                    </div>
                    <script>
                        var formatter = new Intl.NumberFormat('en-US', {
                            style: 'currency',
                            currency: 'USD',
                            });
                        get_stock_data();
                        let myChart;
                        let precio;
                        let patrimonio = {{cuenta.patrimonio}};
                        let comision = 1 + 0.0029;
                        let volumen_input = document.getElementById('volumen');
                        let t_symbol=document.getElementById('t-symbol');
                        let t_precio=document.getElementById('t-precio');
                        let t_volumen=document.getElementById('t-volumen');
                        let t_interes=document.getElementById('t-interes'); 
                        let t_total=document.getElementById('t-total');
                        function get_stock_data(){
                            let data = {symbol: document.getElementById('symbol').value};
                            fetch('/stock_data',  {method: 'POST', body: JSON.stringify(data),
                                                            headers: {'Content-Type': 'application/json'}
                                        })
                                        .then(function (response) {
                                            return response.json();
                                        }).then(function (response) {
                                            //console.log(response);
                                            let ctx = document.getElementById('chart');
                                            let labels =response.labels;
                                            let data = {
                                                labels: labels,
                                                datasets: [{
                                                    type: 'line',
                                                    label: response.symbol,
                                                    data: response.data,
                                                    fill: false,
                                                    borderColor: '#363554',
                                                    tension: 0.1,
                                                    pointRadius: 0
                                                }]
                                            };
                                            let config = {
                                                type: 'line',
                                                data: data,
                                            };
                                            if(myChart){
                                                myChart.destroy();
                                            }
                                            myChart = new Chart(ctx, config);
                                            precio = response.data[response.data.length-1];
                                            let volumen_posible = patrimonio/precio >>0;
                                            let costo = volumen_posible*precio;
                                            let total = costo*comision;
                                            while(total>patrimonio){
                                                volumen_posible -=1;
                                                costo = volumen_posible*precio;
                                                total = costo*comision;
                                            }
                                            t_precio.innerHTML=formatter.format(precio) + `
                                                <input name="valor" type="hidden" value=${precio}>            
                                            `;
                                            t_symbol.innerHTML = response.symbol;
                                            volumen_input.value=null;
                                            volumen_input.setAttribute("max", volumen_posible);
                                        });
                        };
                        function Total(){
                            t_volumen.innerHTML = "x" +volumen_input.value;
                            let costo = volumen_input.value*precio;
                            let interes = costo*(comision-1);
                            t_interes.innerHTML = formatter.format(interes)+ `
                                                <input name="interes" type="hidden" value=${interes}>            
                                            `;
                            let total=costo*comision;
                            t_total.innerHTML = formatter.format(total)+ `
                                                <input name="total" type="hidden" value=${total}>            
                                            `;
                        };
                    </script>
                </div>
            {%else%}
                <div class="container">
                    <div class="row">
                    <div class="col text-center">
                        <button type="button" disabled class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Abrir posición</button>
                    </div>
                    <div class="col text-center">
                        <button type="button" disabled class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2" data-bs-whatever="@mdo">Cerrar posición</button>
                    </div>
                    </div>
                </div>
            {%endif%}
            <div class="row mt-5 justify-content-center">
                {%for grafico in cuenta.graficos%}
                    <div class="col-lg-6  col-md-6   text-center" style="height: 300px;">
                        <h4>{{grafico.simbolo}}</h4>
                        <!--<a href="/grafico/{{grafico.id}}"> -->
                            <div class="chart-container" style="padding: 1px;">
                                <canvas id="chart-{{loop.index0}}" style= "width: 100%;
                                                                        height: 250px;
                                                                        display: block;"></canvas>
                            </div>
                        <!--</a>-->
                        <script>
                            let ctx_{{loop.index0}} = document.getElementById('chart-{{loop.index0}}');
                            let labels_{{loop.index0}} = {{close_values[loop.index0].labels |tojson }};
                            let data_{{loop.index0}} = {
                                labels: labels_{{loop.index0}},
                                datasets: [{
                                    type: 'line',
                                    label: 'Valores de cierre diarios',
                                    data: {{close_values[loop.index0].data}},
                                    fill: false,
                                    borderColor: '#363554',
                                    tension: 0.1,
                                    pointRadius: 0
                                },
                                
                                {%for posicion in grafico.posiciones%}
                                    {
                                        type: 'scatter',
                                        label: "{{posicion.id}} | {{posicion.dia_compra}}",
                                        data: [{
                                                x: "{{posicion.dia_compra}}",
                                                y: "{{posicion.valor_compra}}"
                                            }],
                                        pointStyle: 'triangle',
                                        pointRadius: 6,
                                        backgroundColor: 'green'
                                    },
                                    {%if posicion.cerrado%}
                                    {
                                        type: 'scatter',
                                        label: "{{posicion.id}} | {{posicion.dia_venta}}",
                                        data: [{
                                                x: "{{posicion.dia_venta}}",
                                                y: "{{posicion.valor_venta}}"
                                            }],
                                        pointStyle: 'triangle',
                                        pointRadius: 6,
                                        backgroundColor: 'red'
                                    },
                                    {%endif%}
                                {%endfor%}
                            ]
                            };
                            let config_{{loop.index0}} = {
                                type: 'line',
                                data: data_{{loop.index0}},
                                options: {
                                    plugins: {
                                        legend: {
                                            display: true,
                                            position: 'right'
                                        }
                                    }
                                }
                            };
                            let myChart_{{loop.index0}} = new Chart(ctx_{{loop.index0}}, config_{{loop.index0}});
                    
                        </script>
                    </div>
                {%endfor%}
            </div>
        </div>
    </main>
    <nav class="navbar fixed-bottom navbar-dark bg-secondary text-center" style="color:white;">
        <div class="container">
          <div class="row" style="width: 100%;">
              <div class="col-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
                    <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
                  </svg>
                  <b>Patrimonio:</b> {{"${:,.2f}".format(cuenta.patrimonio)}}
              </div>
              <div class="col-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-bottom" viewBox="0 0 16 16">
                    <path d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5zm2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702s.18.149.5.149.5-.15.5-.15v-.7c0-.701.478-1.236 1.011-1.492A3.5 3.5 0 0 0 11.5 3V2h-7z"/>
                  </svg>
                  <b>Balance:</b> {{"${:,.2f}".format(cuenta.balance)}}
              </div>
              <div class="col-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16">
                    <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z"/>
                  </svg>
                  <b>Beneficio:</b> {{"${:,.2f}".format(cuenta.beneficio)}}
              </div>
          </div>
        </div>
    </nav>
{%endblock%}