{%extends "/base/base.html"%}

{%block title%}
    Ingresar
{%endblock%}

{%block head%}
{%endblock%}

{%block content%}
<main class="form-signin" style="width:300px; text-align: center !important; width: 100%;
                                max-width: 330px;
                                padding: 15px;
                                margin: auto;">
    <form action="/login" method="POST">
      <h1 class="h3 mb-3 fw-normal">Ingresar</h1>
  
      <div class="form-floating mb-3">
        <input name="nombre" type="text" class="form-control" id="floatingInput" placeholder>
        <label for="floatingInput">Código o no. de equipo</label>
      </div>
      <div class="form-floating mb-4">
        <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Contraseña</label>
      </div>
      {%if error%}
      <div class="alert alert-danger mb-4" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
          <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
        </svg>
       {{error}} 
      </div>
      {%endif%}
      <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesión</button>
      <p class="mt-5 mb-3 text-muted"> ¿Olvidaste la contraseña? Contacta al profesor para recuperarla</p>
    </form>
  </main>
{%endblock%}