<div class="container text-center mb-5">
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="https://cdp.esfm-x.com" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1" style="margin-left: 10%;">
          <img width="40" src="https://media-exp1.licdn.com/dms/image/C560BAQFPQj8YPkBWng/company-logo_200_200/0/1616263187421?e=2159024400&v=beta&t=pCIhfyqqvUh5N1u0lhjR4JApPNu4iK4TNxiad2-gxBw" alt="CdP Logo">
        </a>
        <span class="text-muted"> Hecho con ❤️ por el <a href="https://cdp.esfm-x.com">CdP ESFM</a> </span>
      </div>
  
    </footer>
  </div>